@page "/detailed-service"
@inject IServiceEndPoint _serviceEndPoint
@inject NavigationManager NavManager
@attribute [Authorize]
<div class="justify-content-sm-center px-4 py-2" id="custom-cards">
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item active" aria-current="page">Details</li>
        </ol>
    </nav>
   <!--EndBreadCrumbs-->
    <div class="row container container-fluid  list-group-horizontal-lg align-content-sm-between g-4 py-5 shadow">
        <div class="col-6 d-flex" role="document">
        <div class="card card-cover h-100 overflow-hidden bg-dark rounded shadow-lg" style="background-image: url('~/Images/unsplash-photo-3.jpg');">
         

            @if(Service!=null && Service.id != 0)
            {
                <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
                    <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">@Service.name</h2>
                    <ul class="d-flex list-unstyled mt-auto">
                        @if (Service.Customs != null && Service.Customs.Count() > 0)
                        {
                            <li class="d-flex align-items-center me-3">
                                <!--BookMark Button-->
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                                    <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                                </svg>
                            </li>
                        }
                        <li class="d-flex align-items-center me-3">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill" /></svg>
                            <small>@Service.category.description</small>
                        </li>

                        <li class="d-flex align-items-center">
                            <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3" /></svg>
                            <small>New</small>
                        </li>
                    </ul>
                    </div>
            }
            else if(Errors.Count>0)
            {
                @foreach(string error in Errors)
                {
                    <div class="col">
                        <div class="card border-0 shadow text-center ">
                            <div class="h2">
                                <p class="placeholder-glow">
                                    <span class="placeholder col-12">@error...</span>
                                </p>
                            </div>
                        </div>
                        </div>
                }
            }
             
               
       
        </div>
            @if(Service==null)
            {
            <div class="col">
                <div class="card border-0 shadow text-center ">
                    <div class="h2">
                        <p class="placeholder-glow">
                            <span class="placeholder col-12">Loading...</span>
                        </p>
                    </div>
                </div>
            </div>
            }
        </div>
      <div class="col-6 d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
        <div>
           

            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2" /></svg>
            <div class="border-bottom">
                <h4 class="fw-bold mb-0">T's & C's</h4>
                <p>Please note the following</p>
            </div>
                
            @if(Service!=null && Service.id != 0)
            {
              <h4 class="fw-bold mb-0"> Agree</h4>
              <p>@Service.category.description</p>
              <AuthorizeView>
                    <button @onclick="@(()=>BuildOrder(Service.id))" class="btn btn-outline-success justify-content-content">
                        Order
                    </button>
              </AuthorizeView>
            }
            
          
        </div>
      </div>
       
      
      

    </div>
     
</div>

<!--Custom Service Modal-->


<!-- Modals -->

<!--List of Custom Services-->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="customsListCarousel" tabindex="-1" aria-labelledby="customsListCarouselLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
         <h1 class="modal-title fs-5 font-monospace text-center" id="customsListCarouselLabel">Customs</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
          
       </div>
    </div>
  </div>
</div>
<!--End List of Customs-->

<!--Customizing Service-->
<div class="modal fade" id="customService" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="customService" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="customServiceLabel">Custom</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                
            </div>
           
        </div>
    </div>
</div>
<!-- End Customizing Service-->
<!--End Modals-->

@code {


    private List<string> Errors = new List<string>();
    private ServiceModel? Service { get; set; }
    List<ServiceModel>? services = new List<ServiceModel>();
    private int id;//service ID

    [Parameter]
    [SupplyParameterFromQuery(Name ="SID")]
    public int Id { get { return id; } set { id = value; } }

    protected override async Task OnInitializedAsync()
    {

        try
        {
            services = await _serviceEndPoint.GetServices();
        }
        catch (Exception ex)
        {

            Errors.Add(ex.Message);
        }


        if (services!=null && services.Count > 0)
        {
            foreach (var service in services)
            {
                if (service == null)
                {
                    Errors.Add("Service Not Available");
                    return;
                }
                else if (service.id == Id)
                {
                    Service = new();
                    Service = service;
                }

            }
        }


    }

    private void BuildOrder(int serviceid)
    {
        NavManager.NavigateTo($"order-builder?OID={serviceid}");
    }
}
