@page "/accepted-request"
@page "/accepted-r"
@using HandymanProviderLibrary.Models
@using Microsoft.AspNetCore.Components.Web

@inject IJSRuntime JS


<svg xmlns="http://www.w3.org/2000/svg" style="display: none;">
  <symbol id="check-circle-fill" viewBox="0 0 16 16">
    <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z"/>
  </symbol>
  <symbol id="info-fill" viewBox="0 0 16 16">
    <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
  </symbol>
  <symbol id="exclamation-triangle-fill" viewBox="0 0 16 16">
    <path d="M8.982 1.566a1.13 1.13 0 0 0-1.96 0L.165 13.233c-.457.778.091 1.767.98 1.767h13.713c.889 0 1.438-.99.98-1.767L8.982 1.566zM8 5c.535 0 .954.462.9.995l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 5.995A.905.905 0 0 1 8 5zm.002 6a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"/>
  </symbol>
</svg>
<AuthorizeView>

@if (ownRequest != null)
{
<section class="container container-fluid rounded p-2 m-2">

 <!--Accepted Order Details-->


       <!-- In progress Request-->
       @if (ownRequest.req_status < 3)
       {
           <!-- Not started-->
            @if (ownRequest.req_status == 1)
            {

                <div class="container mb-3 text-center justify-content-center">
                    <div class="col">
                        <div class="bg-primary bg-opacity-25 card mb-4  border-0">
                            <div class="card-header bg-secondary py-3">
                                <h4 class="my-0 fw-normal font-monospace">@ownRequest.Service.name</h4>
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-primary border border-light rounded-circle">

                                </span>
                            </div>

                            <div class="card-body">
                                <h1 class="card-title pricing-card-title"></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>@ownRequest.req_datecreated</li>
                                    <li>@ownRequest.req_status</li>
                                </ul>

                            </div>
                            <div class="row-col-6">

                                <div class="p-2 bg-dark bg-opacity-10 p-0 ">

                                    @if (ownRequest.tasks.Count > 0)
                                    {
                                        @if (ownRequest.req_status == 3)
                                        {
                                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" style="width:@ownRequest.req_progress%">@ownRequest.req_progress%</div>  <!--This will be implemented by duration of the task-->
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @ownRequest.req_progress%">@ownRequest.req_progress%</div>
                                            </div>
                                        }

                                    }
                                </div>

                            </div>

                        </div>


                    </div>
                    <!-- Tasks -->

                    @if (!isOnFrontDisplay)
                    {


                        

                            <section class="container fa-align-justify bg-white bg-opacity-10 shadow">

                                <!--Table for tasks-->
                                <div class="table-responsive" style="height:300px;overflow-y:scroll">
                                    <table class="table text-center table-hover">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="fa-italic text-small">State</th>

                                                <th style="width: 22%;">Title</th>
                                                <th style="width: 22%;">Start Date</th>
                                                <th style="width: 22%;">Description</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ownRequest.tasks.Count > 0)
                                            {
                                                @foreach (var task in ownRequest.tasks)
                                                {
                                                    if (task.tas_status == 0)
                                                    {
                                                        <tr class="alert-info shadow" @onclick="@(()=>OnViewTask.InvokeAsync(@task.task_id))">

                                                            <td>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                                                                </svg>
                                                            </td>
                                                            <td>@task.tas_title<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_date_started<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_description<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>

                                                        </tr>
                                                    }
                                                    if (task.tas_status == 1 || task.tas_status == 2)
                                                    {
                                                        <tr class="bg-warning bg-opacity-25 shadow" @onclick="@(()=>OnViewTask.InvokeAsync(@task.task_id))">

                                                            <td class="bg-transparent border-0">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                                                                    <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z" />
                                                                </svg>
                                                            </td>
                                                            <td>@task.tas_title<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_date_started<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_description<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                        </tr>
                                                    }
                                                    if (task.tas_status == 11)
                                                    {
                                                        <tr class="bg-transparent shadow" @onclick="@(()=>OnViewTask.InvokeAsync(@task.task_id))">
                                                            <td class="btn-outline-danger border-0 bg-white">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                                                                    <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
                                                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                                                </svg>
                                                            </td>
                                                            <td>@task.tas_title<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_date_started<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_description<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                        </tr>
                                                    }

                                                }

                                            }
                                            else
                                            {
                                                <p>This request has no task </p>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        
                    }

            <!--End Tasks -->
            </div>
            }
            <!--End Not started-->



            <!--In progress-->
            @if (ownRequest.req_status == 2)
            {


                <div class="container mb-3 text-center justify-content-center">
                    <div class="col">
                        <div class="bg-primary bg-opacity-25 card mb-4 border-0">
                            <div class="card-header bg-secondary py-3">
                                <h4 class="my-0 fw-normal font-monospace">@ownRequest.Service.name</h4>               
                            </div>

                            <div class="card-body">
                                <h1 class="card-title pricing-card-title"></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>@ownRequest.req_datecreated</li>
                                    <li>@ownRequest.req_status</li>
                                </ul>

                            </div>
                            <div class="row-col-6">

                                <div class="p-2 bg-dark bg-opacity-10 p-0 ">

                                    @if (ownRequest.tasks.Count > 0)
                                    {
                                        @if (ownRequest.req_status == 3)
                                        {
                                            <div class="progress" role="progressbar" aria-label="Example with label" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">
                                                <div class="progress-bar" style="width:@ownRequest.req_progress%">@ownRequest.req_progress%</div>  <!--This will be implemented by duration of the task-->
                                            </div>
                                        }
                                        else
                                        {
                                            <div class="progress">
                                                <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100" style="width: @ownRequest.req_progress%">@ownRequest.req_progress%</div>
                                            </div>
                                        }

                                    }
                                </div>

                            </div>

                        </div>


                    </div>
                    <!-- Tasks -->
                    @if (!isOnFrontDisplay)
                    {


                        <div class="dropdown">

                            <section class="container fa-align-justify bg-white bg-opacity-10 shadow">

                                <!--Table for tasks-->
                                <div class="table-responsive" style="height:250px;overflow-y:scroll">
                                    <table class="table text-center table-hover">
                                        <thead class="table-light">
                                            <tr>
                                                <th class="fa-italic text-small">State</th>

                                                <th style="width: 22%;">Title</th>
                                                <th style="width: 22%;">Start Date</th>
                                                <th style="width: 22%;">Description</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (ownRequest.tasks.Count > 0)
                                            {
                                                @foreach (var task in ownRequest.tasks)
                                                {
                                                    @if (task.tas_status == 0)
                                                    {
                                                        <tr class="alert-info rounded" @onclick="@(()=>OnViewTask.InvokeAsync(@task.task_id))">

                                                            <td>
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock" viewBox="0 0 16 16">
                                                                    <path d="M8 1a2 2 0 0 1 2 2v4H6V3a2 2 0 0 1 2-2zm3 6V3a3 3 0 0 0-6 0v4a2 2 0 0 0-2 2v5a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V9a2 2 0 0 0-2-2zM5 8h6a1 1 0 0 1 1 1v5a1 1 0 0 1-1 1H5a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1z" />
                                                                </svg>
                                                            </td>
                                                            <td>@task.tas_title<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_date_started<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_description<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>

                                                        </tr>
                                                    }
                                                    @if (task.tas_status == 1 || task.tas_status == 2)
                                                    {
                                                        <tr class="bg-warning bg-opacity-25 rounder" @onclick="@(()=>OnViewTask.InvokeAsync(@task.task_id))">

                                                            <td class="bg-transparent border-0 btn-outline-info">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-hammer" viewBox="0 0 16 16">
                                                                    <path d="M9.972 2.508a.5.5 0 0 0-.16-.556l-.178-.129a5.009 5.009 0 0 0-2.076-.783C6.215.862 4.504 1.229 2.84 3.133H1.786a.5.5 0 0 0-.354.147L.146 4.567a.5.5 0 0 0 0 .706l2.571 2.579a.5.5 0 0 0 .708 0l1.286-1.29a.5.5 0 0 0 .146-.353V5.57l8.387 8.873A.5.5 0 0 0 14 14.5l1.5-1.5a.5.5 0 0 0 .017-.689l-9.129-8.63c.747-.456 1.772-.839 3.112-.839a.5.5 0 0 0 .472-.334z" />
                                                                </svg>
                                                            </td>
                                                            <td>@task.tas_title<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_date_started<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_description<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                        </tr>
                                                    }
                                                    @if (task.tas_status == 11)
                                                    {
                                                        <tr class="bg-transparent rounded" @onclick="@(()=>OnViewTask.InvokeAsync(@task.task_id))">
                                                            <td class="btn-outline-danger border-0 bg-white">
                                                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                                                                    <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
                                                                    <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                                                </svg>
                                                            </td>
                                                            <td>@task.tas_title<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_date_started<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_description<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                        </tr>
                                                    }

                                                }

                                            }
                                            else
                                            {
                                                <p>This request has no task </p>
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </section>

                        </div>
                    }

                    <!--End Tasks -->
                </div>
            }
            <!-- End In progress-->
       }
      <!--End Inprogress Requests--> 




      <!--Finished Request-->

      @if (ownRequest.req_status == 3)
        {
            @if(!isOnFrontDisplay)
            {
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>Request Is Finished!</strong> And Confirmed, <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-cash-coin" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M11 15a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm5-4a5 5 0 1 1-10 0 5 5 0 0 1 10 0z" />
                        <path d="M9.438 11.944c.047.596.518 1.06 1.363 1.116v.44h.375v-.443c.875-.061 1.386-.529 1.386-1.207 0-.618-.39-.936-1.09-1.1l-.296-.07v-1.2c.376.043.614.248.671.532h.658c-.047-.575-.54-1.024-1.329-1.073V8.5h-.375v.45c-.747.073-1.255.522-1.255 1.158 0 .562.378.92 1.007 1.066l.248.061v1.272c-.384-.058-.639-.27-.696-.563h-.668zm1.36-1.354c-.369-.085-.569-.26-.569-.522 0-.294.216-.514.572-.578v1.1h-.003zm.432.746c.449.104.655.272.655.569 0 .339-.257.571-.709.614v-1.195l.054.012z" />
                        <path d="M1 0a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h4.083c.058-.344.145-.678.258-1H3a2 2 0 0 0-2-2V3a2 2 0 0 0 2-2h10a2 2 0 0 0 2 2v3.528c.38.34.717.728 1 1.154V1a1 1 0 0 0-1-1H1z" />
                        <path d="M9.998 5.083 10 5a2 2 0 1 0-3.132 1.65 5.982 5.982 0 0 1 3.13-1.567z" />
                    </svg> Is On Its Way.
                  <button type="button" class="float-lg-end border-0 bg-transparent" data-bs-dismiss="alert" >
                      <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-save bg-transparent border-0" viewBox="0 0 16 16">
                          <path d="M2 1a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H9.5a1 1 0 0 0-1 1v7.293l2.646-2.647a.5.5 0 0 1 .708.708l-3.5 3.5a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L7.5 9.293V2a2 2 0 0 1 2-2H14a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h2.5a.5.5 0 0 1 0 1H2z"/>
                      </svg>
                  </button>
                </div>
            }

            <div class="container container-fluid text-center justify-content-center">
                <div class="col">
                    <div class="bg-warning bg-opacity-25 card mb-4 rounded-3 shadow-sm border-0">
                        <div class="card-header bg-success bg-opacity-75 py-3">
                            <h4 class="my-0 fw-normal font-monospace">@ownRequest.Service.name</h4>
                            <span class="position-absolute top-0 start-100 translate-middle p-2 bg-warning border border-light rounded-circle">
                                
                            </span>
                        </div>

                        <div class="card-body ">
                            <h1 class="card-title pricing-card-title"></h1>
                            <ul class="list-unstyled mt-3 mb-4">
                                <li>@ownRequest.req_datecreated</li>
                                <li>@ownRequest.req_status</li>
                            </ul>

                        </div>
                       

                    </div>


                </div>

                <!-- Tasks -->

                @if (!isOnFrontDisplay)
                {


                    <div class="dropdown">
                       
                        <section class=" container fa-align-justify bg-white bg-opacity-10 shadow" >

                            <!--Table for tasks-->
                            <div class="table-responsive" style="height:250px;overflow-y:scroll">
                                <table class="table text-center table-hover">
                                    <thead class="table-light">
                                        <tr>
                                            <th class="fa-italic text-small">State</th>

                                            <th style="width: 22%;">Title</th>
                                            <th style="width: 22%;">Start Date</th>
                                            <th style="width: 22%;">Description</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                        @if (ownRequest.tasks.Count > 0)
                                        {
                                            @foreach (var task in ownRequest.tasks)
                                            {
                                                
                                                if (task.tas_status == 11)
                                                {
                                                    <tr class="bg-transparent rounded" @onclick="@(()=>OnViewTask.InvokeAsync(@task.task_id))">
                                                        <td class="btn-outline-danger bg-white">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-exclamation-diamond" viewBox="0 0 16 16">
                                                                <path d="M6.95.435c.58-.58 1.52-.58 2.1 0l6.515 6.516c.58.58.58 1.519 0 2.098L9.05 15.565c-.58.58-1.519.58-2.098 0L.435 9.05a1.482 1.482 0 0 1 0-2.098L6.95.435zm1.4.7a.495.495 0 0 0-.7 0L1.134 7.65a.495.495 0 0 0 0 .7l6.516 6.516a.495.495 0 0 0 .7 0l6.516-6.516a.495.495 0 0 0 0-.7L8.35 1.134z" />
                                                                <path d="M7.002 11a1 1 0 1 1 2 0 1 1 0 0 1-2 0zM7.1 4.995a.905.905 0 1 1 1.8 0l-.35 3.507a.552.552 0 0 1-1.1 0L7.1 4.995z" />
                                                            </svg>
                                                        </td>
                                                        <td>@task.tas_title<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                        <td>@task.tas_date_started<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                        <td>@task.tas_description<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                    </tr>
                                                }
                                                if (task.tas_status == 3)
                                                {
                                                    <tr class="bg-transparent rounded" @onclick="@(()=>OnViewTask.InvokeAsync(@task.task_id))">
                                                            <td class="btn-outline-danger bg-white">
                                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check-all" viewBox="0 0 16 16">
                                                              <path d="M8.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L2.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093L8.95 4.992a.252.252 0 0 1 .02-.022zm-.92 5.14.92.92a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 1 0-1.091-1.028L9.477 9.417l-.485-.486-.943 1.179z"/>
                                                            </svg>
                                                            </td>
                                                            <td>@task.tas_title<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_date_started<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                            <td>@task.tas_description<svg class="bi" width="24" height="24"><use xlink:href="#check" /></svg></td>
                                                    </tr>
                                                }

                                            }

                                        }
                                        else
                                        {
                                            <p>This request has no task </p>
                                        }

                                    </tbody>
                                </table>
                            </div>
                        </section>

                    </div>
                }

            <!--End Tasks -->
            </div>
       }
      <!--End Finished requests-->



      <!--Cancelled Requests-->
        @if (ownRequest.req_status == 11)
        {

            
                @if (isOnFrontDisplay || !isOnFrontDisplay)
                {
                    <div class="container text-center justify-content-center">
                    <div class="col mb-3">
                        <div class="bg-opacity-50 card rounded-3 shadow-sm border-0">
                            <div class="card-header bg-danger bg-opacity-25 py-3">
                                <h4 class="my-0 fw-normal font-monospace alert-danger text-decoration-line-through text-center">@ownRequest.Service.name</h4>
                                <span class="position-absolute top-0 start-100 translate-middle p-2 bg-danger border border-light rounded-circle">
                                    <span class="visually-hidden">New alerts</span>
                                </span>
                            </div>

                            <div class="card-body ">
                                <h1 class="card-title pricing-card-title"></h1>
                                <ul class="list-unstyled mt-3 mb-4">
                                    <li>@ownRequest.req_datecreated</li>
                                    <li>@ownRequest.req_status</li>
                                </ul>

                            </div>
                       

                        </div>


                    </div>
                    </div>
                }

                <!-- Tasks -->
              

                <!--End Tasks -->
            
        }
      <!--End Cancelled Request-->
    </section>
}

</AuthorizeView>
@code {

    private RequestModel ownRequest;
    private bool isOnFrontDisplay;
    [Parameter]
    public bool IsOnFrontDisplay
    {
        get { return isOnFrontDisplay; } set { isOnFrontDisplay = value; }
    }

    [Parameter]
    public RequestModel AcceptedRequestProperty
    {
        get { return ownRequest; }
        set { ownRequest = value; }
    }

    [Parameter]
    public EventCallback<int> OnViewTask { get; set; }
    
    //private IJSObjectReference importedDHTML;
    //protected override async Task OnAfterRenderAsync(bool firstRender)
    //{
    //    if (firstRender)
    //    {
    //        // import the script from the file
    //        importedDHTML = await JS.InvokeAsync<IJSObjectReference>(
    //            "import", "/assets/dist/js/reload.js");

    //        //Initialize 
    //        await importedDHTML.InvokeVoidAsync("ReloadPageThreeSecDelay");
    //    }
    //}
}
