@page "/provider-profile"
@page "/profile"


@using HandymanProviderLibrary.Models;
@using Handyman_SP_UI.Pages.Helpers;
@using Microsoft.AspNetCore.Components.Web

@inject IProviderHelper _providerHelper
<AuthorizeView>

<Authorized>
@if (providerModel != null && providerModel.employeeProfile!=null)
{
    <div class="row mb-2">
        <div class="col-md-6">
            <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
                <div class="col p-4 d-flex flex-column position-static">
                    <strong class="d-inline-block mb-2 text-primary">Personal Information</strong>
                    <h5>Name(s):@providerModel.employeeProfile.Names</h5><br />
                    <h5>Gender:@providerModel.employeeProfile.Gender</h5>  <br />
                    <p class="mb-1 text-muted">Date of birth:@providerModel.employeeProfile.DateOfBirth.ToShortDateString()</p>
                </div>
                <div class="col-auto d-none d-lg-block">
                    <svg class="bd-placeholder-img" width="200" height="250" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                        <title>Picture</title><rect width="100%" height="100%" fill="#55595c" />
                        <text x="50%" y="50%" fill="#eceeef" dy=".3em">Thumbnail</text>
                        </svg>

                </div>
            </div>
        </div>
        <!--End Employee profile-->

        @if (providerModel.Services.Count > 0)
        {
        <div class="col-md-6">
            <div class="position-sticky" style="top: 2rem;">
                <div class="p-4 mb-3 bg-light rounded">
                    <h4 class="fst-italic">About</h4>
                    <h3 class="mb-0">@providerModel.Services.ElementAt(0).category.description and more...</h3>
                    <div class="mb-1 text-muted">Date Employed:@providerModel.DateEmployed</div>
                </div>
            </div>
        </div>
        }
    </div>

    <div class="row g-5">
        <div class="col-md-12">


            <article class="blog-post">

                <h3 class="text-center">List of your Services</h3>
                        <p class="text-center mb-1 text-muted fst-italic">You can add more services to broaden your field</p>

                @if (providerModel.Services.Count > 0)
                {
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Description</th>
                                <th>Category</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var service in @providerModel.Services)
                            {
                                <tr>
                                    <td>@service.name</td>
                                    <td>@service.category.description</td>
                                    <td>@service.category.name</td>
                                </tr>
                            }
                        </tbody>
                <tfoot>
                    <tr>
                        <td>Totals</td>
                            <td>@providerModel.Services.Count</td>
                    </tr>
                </tfoot>
            </table>
            }

        </article>
                <div class="accordion accordion-flush" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button px-6" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                    <strong class="text-capitalize text-center fa-italic">ADD SERVICES</strong>
                                    <hr/>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse show" aria-labelledby="headingOne" >
                            <div class="accordion-body">
                                <Handyman_SP_UI.Pages.Services.ServicesAlbum OnAddService="AddService">

                                </Handyman_SP_UI.Pages.Services.ServicesAlbum>
                            </div>
                        </div>
                    </div>
                </div>
                   

    </div>
 </div>
        }
        else
        {
            <div class="d-flex justify-content-center">
                <div class="spinner-border" role="status">
                    <span class="visually-hidden"></span>
                </div>
                <span class="visually-visible">Loading...</span>
            </div>
        }
    </Authorized>
         <NotAuthorized>>

             <article class="blog-post">
                <h4>
                    Please login
                </h4>
            </article>
         </NotAuthorized>
</AuthorizeView>

@code {
    ServiceProviderModel? providerModel;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            // providerModel = new ServiceProviderModel()!;
            providerModel = await _providerHelper.GetProvider();
        }catch(Exception ex)
        {
            throw new Exception(ex.Message, ex.InnerException);   
        }

    }

    /// <summary>
    /// Add this service to the provider's services
    /// </summary>
    /// <returns></returns>
    /// <exception cref="Exception"></exception>
    async Task AddService(ServiceModel serviceModel)
    {
        //sp.Services = new List<ServiceModel>();

        try
        {
            if(providerModel!=null && providerModel.Services.Count > 0)
            {
                providerModel.Services.Add(serviceModel);
                await _providerHelper.AddService(providerModel);
                StateHasChanged();
            }
            

        }
        catch(Exception ex)
        {
            throw new Exception(ex.Message, ex.InnerException);
        }
    }
}
