@page
@model Handymen_UI_Consumer.Pages.Orders.CancelledOrdersModel


@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Cancelled Orders";
}

@if(Model.OrdersProperty is not null)
{
  
<div class="album py-5 bg-light shadow" role="document">
    <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
            @if (Model.OrdersProperty is null)
            {
                <div class="card" aria-hidden="true">
                    <img src="..." class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title placeholder-glow">
                            <span class="placeholder col-6"></span>
                        </h5>
                        <p class="card-text placeholder-glow">
                            <span class="placeholder col-7"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-4"></span>
                            <span class="placeholder col-6"></span>
                            <span class="placeholder col-8"></span>
                        </p>
                        <a href="#" tabindex="-1" class="btn btn-primary disabled placeholder col-6"></a>
                    </div>
                </div>
            }
            else
            {
                @foreach (var item in Model.OrdersProperty)
                {

                   <div class="col">
                        <div class="card border-0 shadow text-center ">
                            <img src="~/Images/@item.service.name" class="bd-placeholder-img card-img-top border-0 rounded-4" width="100%" height="225" />
                            @*<title>@item.Name l</title>*@
                            <rect width="100%" height="100%" fill="#55595c" /><text class="font-monospace shadow" x="70%" y="70%" fill="#eceeef" dy=".3em">@item.service.name</text>
                            <div class="card-body rounded-4 align-content-center">
                                <p class="card-text fst-italic">@item.service.category.description</p>
                                <hr />
                                <div class="d-flex justify-content-center">
                                    @*<div class="btn-group justify-content-center btn-outline-primary">
                                        <a asp-page="./Services/Details" class="btn border-0 bg-transparent" asp-route-id="@item.id">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                                <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                                            </svg>
                                        </a>
                                    </div>*@
                                    <br />

                                </div>
                                <small class="text-muted">@item.duedate</small>
                            </div>
                        </div>
                    </div>
                    @*<component type="typeof(CancelledOrderComponent)" render-mode="ServerPrerendered" param-CancelledOrder="@(item)" />
*@
                }
            }
        </div>
    </div>
</div>
}


