@page "/requestcomponent"

@using HandymanProviderLibrary.Api.Request
@using HandymanProviderLibrary.Models
@using Handyman_UI_Provider.Models
@inject IRequestEndPoint _requestEndPoint
@inject AuthenticationStateProvider _authenticationStateProvider

@if (OrderId != null)
{

    <div class="card text-center">
        <div class="card-header">
            <!--Status -->
            @if (!(@IsAccepted.Equals(0) && !(@RequestStage.Contains("Started")) && (@RequestStage.Contains("Finished"))))
                {

                    <div  class="form-check form-check-inline">
                        <input  class="form-check-input" @onclick="StartRequest" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2">
                        <label class="form-check-label" for="inlineRadio2">@RequestStage</label>
                    </div>
                    <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="option3" disabled>
                    <label class="form-check-label" for="inlineRadio3">@RequestStage</label>
                    </div>
                }
                 @if (@RequestStage.Contains("Started"))
                {

                   @* <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="option1" disabled>
                        <label class="form-check-label" for="inlineRadio1">@RequestStage</label>
                    </div>*@
                    @*<div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="option2" disabled>
                        <label class="form-check-label" for="inlineRadio2">@RequestStage</label>
                    </div>*@
                    <div @onclick="FinishRequest" class="form-check form-check-inline">
                        <input  class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="@isStarted">
                    <label class="form-check-label" for="inlineRadio3">Finish</label>
                    </div>
                }
                @if (@RequestStage.Contains("Finished"))
                {
                    @*<div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio1" value="1" disabled>
                        <label class="form-check-label" for="inlineRadio1">Accepted</label>
                    </div>*@
                   @* <div class="form-check form-check-inline">
                        <input class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio2" value="2" disabled>
                        <label class="form-check-label" for="inlineRadio2">@RequestStage</label>
                    </div>*@
                    <div class="form-check form-check-inline">
                    <input  class="form-check-input" type="radio" name="inlineRadioOptions" id="inlineRadio3" value="3" disabled >
                        <label class="form-check-label" for="inlineRadio3">@RequestStage</label>
                    </div>
                }
            
            <!--End Status-->
        </div>
        <div class="card-body">
            <h5 class="card-title">Service Name</h5>
            <p class="card-text"><img src="./Images/@(ImageUrl)" class="img-thumbnail active" width="200"/></p>
           @if(@IsAccepted.Equals(0))
           {
            <a @onclick="()=> AcceptRequest()" class="btn btn-primary">Accept</a>
           }        
        </div>
        <div class="card-footer text-muted">
            @OrderDate
        </div>
    </div>
}else{
    <div class="call-out"> Selected Request is no longer available</div>
}

@code {
    private List<OrderModel>? orders;
    private RequestModel? newRequest;
    string? ErrorMsg;
    bool isStarted;
    bool isFinished;
    RequestDisplayModel? request = new()!;

    private string RequestStage = "New";

    [Parameter]
    [SupplyParameterFromQuery(Name = "Id")]
    public int? OrderId 
    { 
        get;
        set; 
    }
    [Parameter]
    [SupplyParameterFromQuery(Name = "sid")]
    public int ServiceId { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "img")]
    public string? ImageUrl { get; set; }

    //[Parameter]
    //[SupplyParameterFromQuery(Name = "sn")]
    //public int ServiceName { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "ia")]
    public int IsAccepted { get; set; }

    [Parameter]
    [SupplyParameterFromQuery(Name = "ord")]
    public string? OrderDate { get; set; }

    protected async Task OnInitialisedAsync()
    {
        orders = await _requestEndPoint.GetAllOrdersByService(ServiceId);
        isStarted = true;
    }

    //Create a new request
    public async Task AcceptRequest()
    {
        newRequest = new();
        var user = (await _authenticationStateProvider.GetAuthenticationStateAsync()).User;
        var UserId = user.FindFirst(u => u.Type.Contains("nameidentifier"))?.Value;

        newRequest.ProviderId = UserId;
        newRequest.ServiceId = ServiceId;
        newRequest.OrderId = OrderId.Value;
        newRequest.DateAccepted = DateTime.Now;
        IsAccepted = 0;
        try
        {
            await _requestEndPoint.PostRequest(newRequest);
        }catch(Exception ex)
        {
            ErrorMsg = ex.Message;
        }

    }


    //This method has the mechanism for starting the request
    public void StartRequest()
    {
       
            RequestStage = "Started";            
            //request.Stage = "started";
            //isStarted = true;
            //IsAccepted = 1;
            //InvokeAsync(StateHasChanged);
       
    }

    //This method encapsulates the mechanism for processing the requesst
    public async Task ProcessRequest()
    {

    }

    //Completing the request method
    public void FinishRequest()
    {
        RequestStage = "Finished";
        //isFinished = true;
        //IsAccepted = 1;
        //InvokeAsync(StateHasChanged);
    }

    //public async Task<RequestDisplayModel> GetRequest()
    //{
    //    try
    //    {
    
    //    }catch(Exception ex)
    //    {
    //        ErrorMsg = ex.Message;
    //    }
    //}

}
