@page
@model Handymen_UI_Consumer.Pages.IndexPageModel

@{
    ViewData["Title"] = "Home";
}

<!--The greeting / Welcome section-->
<div class="text-center shadow-sm bg-light p-3 mb-5 rounded">
    <H2>Welcome To Handymen</H2>
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-boombox-fill" viewBox="0 0 16 16">
        <path d="M14.5.5a.5.5 0 0 0-1 0V2H1a1 1 0 0 0-1 1v2h16V3a1 1 0 0 0-1-1h-.5V.5ZM2.5 4a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm2 0a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm7.5-.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm1.5.5a.5.5 0 1 1 0-1 .5.5 0 0 1 0 1Zm-7-1h3a.5.5 0 0 1 0 1h-3a.5.5 0 0 1 0-1Zm-2 9a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm.5-1.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0Zm6.5 1.5a1.5 1.5 0 1 0 0-3 1.5 1.5 0 0 0 0 3Zm0-1a.5.5 0 1 0 0-1 .5.5 0 0 0 0 1Z" />
        <path d="M16 6H0v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V6ZM4.5 13a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5Zm7 0a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5Z" />
    </svg>
</div>
<!--End Section-->



<!--Carousel-->


<div class="jumbotron">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        
        <div class="carousel-item active">
            <div class="card bg-dark text-white text-center">
                    <img src="~/Images/grass.jpg" class="img-fluid h-25"  alt="...">
                <div class="carousel-caption card-img-overlay d-none d-md-block">
                <h2>Garderning </h2>
                <strong>I guess it's your surprice  50 but we can FixiTup</strong>
            </div>
            </div>
          </div>
        
        <div class="carousel-item">
            <div class="card bg-dark text-black text-center">
            <img src="~/Images/ac.jpg" class="d-block w-100 " alt="...">
                <div class="carousel-caption card-img-overlay d-none d-md-block">
                <h2>Electronics</h2>
                <strong>Eletronics Service  auto Description</strong>
            </div>
           </div>
        </div>
        <div class="carousel-item">
            <div class="card bg-dark text-black text-center">
            <img src="~/Images/oven.jpg" class="d-block w-100 "  alt="...">
            <div class="carousel-caption card-img-overlay d-none d-md-block">
                <h2>Electronics</h2>
                <strong>Electronics  Service  25 Description</strong>
            </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
</div>
<hr/>


<!--End Carousel-->




<div class="row justify-content-center alert-heading text-capitalize p-2 m-1 text-center">
    <h4>
        Available Services
    </h4>

</div>

<div class="row p-3 m-1">
    <!--SearchBar-->     
            <form>
                
<!--<select asp-for="category" asp-items="Model.serviceCategorySelectList">
                 <option value="default">All</option>
                </select>-->

                    <div class="input-group">
                      <input type="text" class="form-control" asp-for="searchString" placeholder="Search here..." aria-label="Search for services">
                      <button class="btn btn-outline-success shadow-sm bg-light" type="submit">Filter</button>
                      <button class="btn btn-outline-danger shadow-sm bg-light" type="reset">Reset</button>
                      <br/>
                      <hr/>
                    </div>
            </form>   
    <!--End SearchBar-->
</div>


<hr/>

<!--List of Services-->

<div class="container px-4">
  <div class="row gy-5">
        @if(Model is null)
        {
            <div class="h2">
                 <p class="placeholder-glow">
                 <span class="placeholder col-12">@Model?.ErrorMsg...</span>
                 </p>
            </div>
        }
        else
        {
            
       
      @foreach (var item in Model.ServiceList)
      {
        <div class="col-6 card table-hover" >
             <img src="~/Images/@item.ImageUrl"  class="card-img-top" style="max-width: 580px; height:400px" alt="image"/>
            <div class="p-3 border bg-light card-body">

            <h5 class="card-title">@Html.DisplayFor(model => item.Name)</h5>     
           <br/>

            
           @Html.DisplayFor(modelItem => item.Description)<br/>

            
            @Html.DisplayFor(modelItem => item.CategoryName)<br/>

            
            @Html.DisplayFor(modelItem => item.CategoryDescription)<br/>

           <br/>
            
                  
                    @*<p><a asp-action="Edit" asp-route-id="@item.Id">  <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-tools" viewBox="0 0 16 16">
                    <path d="M1 0 0 1l2.2 3.081a1 1 0 0 0 .815.419h.07a1 1 0 0 1 .708.293l2.675 2.675-2.617 2.654A3.003 3.003 0 0 0 0 13a3 3 0 1 0 5.878-.851l2.654-2.617.968.968-.305.914a1 1 0 0 0 .242 1.023l3.27 3.27a.997.997 0 0 0 1.414 0l1.586-1.586a.997.997 0 0 0 0-1.414l-3.27-3.27a1 1 0 0 0-1.023-.242L10.5 9.5l-.96-.96 2.68-2.643A3.005 3.005 0 0 0 16 3c0-.269-.035-.53-.102-.777l-2.14 2.141L12 4l-.364-1.757L13.777.102a3 3 0 0 0-3.675 3.68L7.462 6.46 4.793 3.793a1 1 0 0 1-.293-.707v-.071a1 1 0 0 0-.419-.814L1 0Zm9.646 10.646a.5.5 0 0 1 .708 0l2.914 2.915a.5.5 0 0 1-.707.707l-2.915-2.914a.5.5 0 0 1 0-.708ZM3 11l.471.242.529.026.287.445.445.287.026.529L5 13l-.242.471-.026.529-.445.287-.287.445-.529.026L3 15l-.471-.242L2 14.732l-.287-.445L1.268 14l-.026-.529L1 13l.242-.471.026-.529.445-.287.287-.445.529-.026L3 11Z"/>
                    </svg></a> |*@
                    <a  asp-page="./Details" class="btn btn-info align-content-center" asp-route-id="@item.Id">Details</a> @*|
                    <a asp-action="Delete" asp-route-id="@item.Id"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                      <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                      <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg> </a></p>*@
                   
           </div>
        </div>
      }
    }
    
  </div>
</div> 
      <!--End of lists-->
   



