@page
@model Handymen_UI_Consumer.Pages.IndexPageModel

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Home";
}
<link href="~/assets/dist/css/bootstrap.min.css" rel="stylesheet">

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>


<div class="row p-3 m-1">

    <!--SearchBar-->     
            <form>
                
<!--<select asp-for="category" asp-items="Model.serviceCategorySelectList">
                 <option value="default">All</option>
                </select>-->

                    <div class="input-group">
                      <input type="text" class="form-control" asp-for="searchString" placeholder="Search here..." aria-label="Search for services">
                      <button class="btn btn-outline-success shadow-sm bg-light" type="submit">Filter</button>
                      <button class="btn btn-outline-danger shadow-sm bg-light" type="reset">Reset</button>
                      <br/>
                      <hr/>
                    </div>
            </form>   
    <!--End SearchBar-->
</div>
@*<vc:DeleteOrder id="@(ViewData["oid"])"></vc:DeleteOrder>*@
<!--Carousel-->
  <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
       
        <img src="~/Images/handyman.jpg" class="bd-placeholder-img" width="100%" height="350px"  alt="...">
        <div class="container">
          <div class="carousel-caption text-start">
            <h1>Example headline.</h1>
            <p>Some representative placeholder content for the first slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Sign up today</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
       
        <img src="~/Images/handy.jpg" class="bd-placeholder-img" width="100%" height="350px"  alt="...">
        <div class="container">
          <div class="carousel-caption">
            <h1>Another example headline.</h1>
            <p>Some representative placeholder content for the second slide of the carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Learn more</a></p>
          </div>
        </div>
      </div>
      <div class="carousel-item">
       
        <img src="~/Images/hand.jpg" class="bd-placeholder-img" width="100%" height="350px"  alt="...">
        <div class="container">
          <div class="carousel-caption text-end">
            <h1>One more for good measure.</h1>
            <p>Some representative placeholder content for the third slide of this carousel.</p>
            <p><a class="btn btn-lg btn-primary" href="#">Browse gallery</a></p>
          </div>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
<!--End of Carousel-->
<div class="row justify-content-center alert-heading text-capitalize p-2 m-1 text-center">
    <h4>
        Available Services
    </h4>

</div>
<!--lIST OF SERVICES-->
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        @if(Model is null)
        {
            <div class="h2">
                 <p class="placeholder-glow">
                 <span class="placeholder col-12">@Model?.ErrorMsg...</span>
                 </p>
                </div>
            }
            else
            {
                @foreach (var item in Model.ServiceList)
                {
                    
                <div class="col">
                    <div class="card shadow-sm">
                    <img src="~/Images/@item.img"  class="bd-placeholder-img card-img-top" width="100%" height="225"/>
                    @*<title>@item.Name l</title>*@
                    <rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">@item.name</text>
                    <div class="card-body">
                      <p class="card-text">@item.category.description</p>
                      <div class="d-flex justify-content-between align-items-center">
                        <div class="btn-group">
                            <a  asp-page="./Services/Details" class="btn btn-sm btn-outline-secondary" asp-route-id="@item.id">Details</a>
                        </div>
                        <small class="text-muted">9 mins</small>
                      </div>
                    </div>
                  </div>
                </div>
            }
        }
      </div>
    </div>
  </div>
