@page
@model Handymen_UI_Consumer.Pages.OrderDetailsModel

@{
    ViewData["Title"] = "OrderDetails";
}

<h1>OrderDetails</h1>

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ServiceName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ServiceName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.Date)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.Date)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ServiceId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ServiceId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Order.ServiceImageUrl)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Order.ServiceImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Order?.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
