@page
@using Handymen_UI_Consumer.Pages
@model Handymen_UI_Consumer.Pages.OrderModel
@{
    ViewData["Title"] = "FixUp Order";
}

<h1 class="text-capitalize text-center">Order</h1>


<hr/>
    @*OrderComponent Section*@
    @if(@Model.OrderProperty!=null)
    {
            
                <dl class="row justify-content-center">
                    <div class="card mb-3 " style="max-width: 540px;">
                        <div class="row g-0">
                            <div class="col-md-4">
                                <img src="/Images/@(@Model.OrderProperty.ServiceImageUrl)" class="img-fluid rounded-start" alt="...">
                            </div>
                            <div class="col-md-8">
                                <div class="card-body">
                                    <h5 class="card-title" id="orderName">@Model.OrderProperty.ServiceName</h5>
                                    <p class="card-text" id="orderDescriptio"> @Model.OrderProperty.Description.</p>
                                    <p class="card-text"><small class="text-muted"> @Model.OrderProperty.Date</small></p>
                                </div>
                            </div>
                        </div>

                           @* <form asp-page-handler="ConfirmOrder">*@
                            <button class="btn btn-outline-success" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">Confirm</button>
                            @*</form>*@

                           
                    </div>

                </dl>

                <a asp-page="./Details" asp-route-id="@Model.OrderProperty.ServiceId" class="btn-outline-secondary">Cancel</a>
    }
    else
    {
        <div class="text-center">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>

        </div>
    }

    
