@model Handyman_UI.Models.ServiceDisplayModel
@{

    Layout = "~/Views/Shared/_ServiceProviderLayout.cshtml";
}

<h3>Are you sure you want to delete this Service from your list?</h3>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Category)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Category)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.CategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.CategoryId)
            </dd>*@

        @*<dt>
                @Html.DisplayNameFor(model => model.displayId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.displayId)
            </dd>*@

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDescription)

        </dd>
        <br />
        <dt>
            <strong>Service Image</strong>

        </dt>

        <dd>
            <img src="@{@Model.ImageUrl}" style="width: 150px; height: 90px;" />
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default " />
        </div>
    }
</div>
