@model Handyman_UI.Models.ServiceProviderDisplayModel

@{
    ViewBag.Title = "ProviderDetails";
    Layout = "~/Views/Shared/DashBLayout.cshtml";
}
<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />

<h2>Provider's Details</h2>

<div>


    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ProviderType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ProviderType)
        </dd>



    </dl>
    <hr />

    @Html.Partial("ProfileDetails", Model.Profile)
</div>

@******************Service Section*@
<div>
    <hr />
    <h2 class="text-center">Provided Services</h2>
    <br />
    <table class="table">
        <tr>
            <th>
                <strong>Name</strong>
            </th>
            <th>
                <strong>Category</strong>
            </th>

            <th>
                <strong>Desciption</strong>
            </th>
            <th>
                <strong>Image</strong>
            </th>
            <th></th>
        </tr>



        @foreach (var item in Model.providerServices)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Category)
                </td>

                <td>
                    @Html.DisplayFor(modelItem => item.ServiceDescription)
                </td>
                <td>
                    <img src="@{@item.ImageUrl} " style="width: 150px; height: 90px;" />
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                    @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                </td>
            </tr>
        }

    </table>

    <br />

   



    @*End Service Section*******************************@
</div>
<p>



</p>
