@model IEnumerable<HandymanUIApp.Models.ServiceModel>

@{
    ViewData["Title"] = "Services Available";
}


<div class="container px-4">
  <div class="row gx-5">
    <div class="col">
    @foreach (var item in Model)
      {
            <div class="p-3 border bg-light">
            @Html.DisplayNameFor(model => model.Name) : 
            @Html.DisplayFor(modelItem => item.Name)<br/>

            <strong>@Html.DisplayNameFor(model => model.Decription) : </strong>
           @Html.DisplayFor(modelItem => item.Decription)<br/>

             @Html.DisplayNameFor(model => model.CategoryName) :
            @Html.DisplayFor(modelItem => item.CategoryName)<br/>

             @Html.DisplayNameFor(model => model.CategoryDescription) :
            @Html.DisplayFor(modelItem => item.CategoryDescription)<br/>

            <img src=$"images\{@item.ImageUrl}" /><br/>
            <p>@Html.DisplayFor(modelItem => item.ImageUrl)</p><br/>
                    <p><a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a></p>
           </div>
      }
    </div>
    
  </div>
</div> 
      
   
    