@page
@using Handyman_SP_UI.Areas.Identity.Pages.Account;
@model Handyman_SP_UI.Areas.Identity.Pages.Account.WorkShopRegisterModel



        <!-- Full screen modal -->
        <!--In Between Modals-->
        
        @if (Model.NewBusiness != null)
        {
            <!--Register WorkShop Full Screen Modal-->
            <div class="modal" id="regWorkShopModalToggle" aria-hidden="true" aria-labelledby="regWorkShopModalToggleLabel" tabindex="-1">
                <div class="modal-dialog modal-fullscreen-xxl-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5 font-monospace" id="regWorkShopModalToggleLabel">Register A Work-Shop</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                         
                            @if (Model.IsWorkShopSaved==false)
                            {
                                <div class="container container-fluid">

                                    <form asp-page-handler="saveworkshopdetails" method="post">
                                        @Html.AntiForgeryToken()
                                        <div class="form-control">
                                            <label for="businessName" class="form-label">Work shop name</label>
                                            <input type="text" autocomplete="on" class="form-control" asp-for="@Model.NewBusiness.Name" id="businessName" placeholder="Work shop name..." required />

                                        </div>

                                        <div class="form-control">
                                            <label for="busDescription" class="form-label">Work Shop Description</label>
                                            <input type="text" class="form-control" asp-for="@Model.NewBusiness.Description"  id="busDescription" placeholder="What do you do?" required />
                                        </div>
                                        <br />
                                        <!--Registration-->

                                        <div class="form-control">
                                            <label for="regNumber" class="form-label">Registration Number</label>
                                            <input type="text" class="form-control" asp-for="@Model.NewBusiness.registration.regNumber" id="regNumber"  placeholder="#555-2245" required />

                                        </div>

                                        <div class="form-control">
                                            <label for="taxNumber" class="form-label">Tax Number</label>
                                            <input type="text" asp-for="@Model.NewBusiness.registration.taxNumber"  class="form-control" id="taxNumber" placeholder="#37445784" required />
                                        </div>
                                        <!--Service Delivery Type-->
                                        <div class="form-control">
                                        <label for="WorkShopType" class="form-label">Service Delivery Type</label>
                                            <select class="form-select" id="workplaceTypeSelect" asp-for="WorkShopType" data-val="true" data-val-required="Choose a Work shop type">
                                                <option selected>Choose...</option>
                                                <option value="1">Remote</option>
                                                <option value="2">Inperson</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select a Business Type.
                                            </div>
                                        </div>
                                        <!--End Service Delivery Type-->


                                        <hr />
                                        <!--Address-->
                                            
                                            <!--Street Name-->
                                            <div class="form-control">
                                                <label for="streetAddress" class="form-label">Street Address</label>
                                                <input type="text" class="form-control" asp-for="@Model.NewBusiness.address.add_street" id="streetAddress" placeholder="4 First Ave" required />
                                                <div class="invalid-feedback">
                                                    Please provide a valid street address.
                                                </div>
                                            </div>
                                            <!--End Street Name-->

                                            <!--Suburb-->
                                            <div class="form-control">
                                                <label for="suburb" class="form-label">Suburb</label>
                                                <input type="text" asp-for="@Model.NewBusiness.address.add_suburb" class="form-control" id="suburb" placeholder="Emadadeni" required />
                                                <div class="invalid-feedback">
                                                    Please provide a valid suburb.
                                                </div>
                                            </div>
                                            <!--Surburb-->
                                            <div class="form-control">
                                                <label for="city" class="form-label">City</label>
                                                <input type="text" asp-for="@Model.NewBusiness.address.add_city" class="form-control" id="city" placeholder="Kuvuki Land" required />
                                                <div class="invalid-feedback">
                                                    Please provide a valid city.
                                                </div>
                                            </div>
                                            <!--End Suburb -->
                                            <!--Province-->
                                            <div class="mb-3 form-control">
                                            <label for="state" class="form-label">Province/State</label>
                                                <select asp-for="NewBusiness.address.add_state" class="form-select" id="state">
                                                    <option selected>Choose...</option>
                                                    <option value="GP">Gauteng Province</option>
                                                    <option value="EC">Eastern Cape</option>
                                                    <option value="MP">Mpumalanga</option>
                                                </select>
                                                <div class="invalid-feedback">
                                                    Please select a valid state.
                                                </div>
                                                <div class="col">
                                                    <label for="zipCode" class="form-label">Zip Code</label>
                                                    <input type="text" asp-for="@Model.NewBusiness.address.add_zip" class="form-control" id="zipCode" placeholder="2000" required />
                                                    <div class="invalid-feedback">
                                                        Please provide a valid zip.
                                                    </div>
                                                </div>


                                            </div>
                                             <!--End Province-->
                                            <!---End address-->
                                           
                                            <button class="btn btn-light btn-outline-success float-end">
                                                Save
                                            </button>
                                            
                                    </form>
                                </div>
                            }
                        </div>
                      
                    </div>
                </div>
            </div>
            <!--End Register WorkShop Full Screen Modal-->
            
            <!--Service Registration-->
            <div class="modal" id="regServiceToggle" aria-hidden="true" aria-labelledby="regServiceToggleLabel" tabindex="-">
                <div class="modal-dialog modal-fullscreen-xxl-down">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h1 class="modal-title fs-5" id="regSingMemberToggleLabel">Register Services</h1>
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                            @if(!Model.IsServiceAdded)
                            {
                            <!--Services To Add in Work Shop-->

                            <div class="row">
                                <div class="col">

                                    @if (Model.IsOnSelectService)
                                    {
                                        <h4 class="font-monospace text-center shadow rounded-3">
                                            Pick a Service
                                        </h4>
                                        <div class="row d-flex">
                                            <div class="col">

                                                @if (Model.ServicesList != null)
                                                {
                                                    <div class="list-group w-auto shadow" >
                                                        @if (Model.ServicesList.Count == 0)
                                                        {
                                                            <div>
                                                                <p>Loading...</p>
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <form asp-page-handler="saveservices" method="post">
                                                                <div class="list-group text-center" style="height:250px;overflow-y:scroll">
                                                                    @foreach (var service in Model.ServicesList)
                                                                    {
                                                                        <input name="Selecteds" type="checkbox" value="@service.id" />
                                                                        @service.name <br />
                                                                    }
                                                                </div>
                                                                <button class="btn btn-primary btn-outline-light p-3 m-3">Save</button>
                                                            </form>
                                                        }
                                                    </div>
                                                }
                                                <hr />

                                                <!--End provider's added services-->
                                            </div>
                                        </div>
                                    }

                                </div>
                                <!--End Services-->

                            </div>
                            <!--End Services Add-->
                            }

                        </div>
                    </div>
                </div>
            </div>
            <!--End Service Registration-->

            <!--WorkShop Details-->
            <div class="container container fluid">
                @if (Model.IsServiceAdded)
                {           
                    <main id="workShopDetailsCollapse">
                        <h2>@Model.NewBusiness.Employees.FirstOrDefault().employeeProfile.Names + @Model.NewBusiness.Employees.FirstOrDefault().employeeProfile.Surname</h2>
                        <p class="fst-italic">Manager</p>
                        <ul class="icon-list ps-0">
                            <li class="d-flex align-items-start mb-1"><a href="profile" rel="noopener" target="_blank">Profile</a></li>
                           
                        </ul>

                        <div class="row g-5">
                            <div class="col-md-6 border-1">
                                <hr class="col-3 col-md-2 mb-5">
                                <h1>@Model.NewBusiness.Name</h1>

                                <p class="fs-5 col-md-8">@Model.NewBusiness.Description</p>
                                <p class="fs-italic col-md-8">@Model.NewBusiness.date</p>
                                <p class="fs-5 col-md-8">@Model.NewBusiness.registration.regNumber</p>
                                <div class="mb-5">
                                    
                                </div>
                            </div>

                            <div class="col-md-6 borderd">
                                <h2>Work Shop Details</h2>
                                <p>@Model.NewBusiness.Description</p>
                                <hr/>
                                <p> @Model.NewBusiness.address.add_street</p>
                                <p> @Model.NewBusiness.address.add_suburb</p>
                                <p> @Model.NewBusiness.address.add_city</p>
                                <p> @Model.NewBusiness.address.add_state</p><br/>
                                <p> @Model.NewBusiness.address.add_country</p>
                                
                                
                                <ul class="icon-list ps-0">
                                    @foreach (var service in Model.NewBusiness.Employees.FirstOrDefault().Services)
                                    {
                                        <li class="d-flex align-items-start mb-1">@service.name:@service.category.description</li>
                                    }

                                </ul>
                            </div>
                        </div>

                    </main>
                                
                }
            </div>
            <!--End WorkShop Details-->

            <!--Modals toggle Buttons-->
            @if (Model.IsWorkShopSaved)
            {
                 <button class="btn btn-primary" data-bs-target="#regServiceToggle" data-bs-toggle="modal">Add Services</button>
            }
            if (!Model.IsWorkShopSaved)
            {
                <button class="btn btn-dark btn-outline-light shadow " data-bs-target="#regWorkShopModalToggle" data-bs-toggle="modal">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-building-fill-add" viewBox="0 0 16 16">
                    <path d="M12.5 16a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7Zm.5-5v1h1a.5.5 0 0 1 0 1h-1v1a.5.5 0 0 1-1 0v-1h-1a.5.5 0 0 1 0-1h1v-1a.5.5 0 0 1 1 0Z" />
                    <path d="M2 1a1 1 0 0 1 1-1h10a1 1 0 0 1 1 1v7.256A4.493 4.493 0 0 0 12.5 8a4.493 4.493 0 0 0-3.59 1.787A.498.498 0 0 0 9 9.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .39-.187A4.476 4.476 0 0 0 8.027 12H6.5a.5.5 0 0 0-.5.5V16H3a1 1 0 0 1-1-1V1Zm2 1.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3 0v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5Zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1ZM4 5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM7.5 5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Zm2.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5ZM4.5 8a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1Z" />
                </svg>
                   Create
                </button>

                <a class="btn btn-warning btn-outline-light shadow" asp-page="WorkShopEmployer">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-briefcase" viewBox="0 0 16 16">
                        <path d="M6.5 1A1.5 1.5 0 0 0 5 2.5V3H1.5A1.5 1.5 0 0 0 0 4.5v8A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-8A1.5 1.5 0 0 0 14.5 3H11v-.5A1.5 1.5 0 0 0 9.5 1h-3zm0 1h3a.5.5 0 0 1 .5.5V3H6v-.5a.5.5 0 0 1 .5-.5zm1.886 6.914L15 7.151V12.5a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5V7.15l6.614 1.764a1.5 1.5 0 0 0 .772 0zM1.5 4h13a.5.5 0 0 1 .5.5v1.616L8.129 7.948a.5.5 0 0 1-.258 0L1 6.116V4.5a.5.5 0 0 1 .5-.5z" />
                    </svg>
                    Occupy Work Space
                </a>
            }
            <!--End Modal taggle Buttons-->
            
            <!--End Full screen modal -->
            <!--End In Between Modal-->
        }
        @if (Model.NewBusiness == null || Model.NewBusiness.Employees == null)
        {
            <div class="d-flex align-items-center">
                <strong>Loading...</strong>
                <div class="spinner-border ms-auto" role="status" aria-hidden="true"></div>
            </div>
        }
