
@{
    ViewBag.Title = "Menu Bar";

}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    



    <title>@ViewBag.Title - Handyman Tech </title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>


    <div class="navbar navbar-inverse navbar-fixed-top">


        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">

                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("HandyMan", "", "Service", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Home", "Index", "Service")</li>
                    <li>@Html.ActionLink("About", "About", "CustomerHome")</li>
                    <li>@Html.ActionLink("Service Category", "DisplayServiceCategory", "Service")</li>
                    <li>@Html.ActionLink("Contact", "Contact", "CustomerHome")</li>

                </ul>
               
                <ul class="nav navbar-nav navbar-right">
                    @if (Session["log"] == null)
                    {

                        <li><a href="https://localhost:44365/Profile/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                        <li><a href="https://localhost:44365/Login/SignIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                    }
                    else
                    {

                        //Drop down menu for User Profile and settings
                        //Works well in an anchor and a link


                        <li><a>@TempData["welcome"]</a></li>
                        <li class="dropdown ">
                            <a class="btn btn-default dropdown-toggle" id="menu1" data-toggle="dropdown">

                                <span class="glyphicon glyphicon-user"></span>

                            </a>
                            <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a href="https://localhost:44365/Profile/ProfileDetails"> @Session["Username"]</a></li>
                                <li role="presentation" class="divider"></li>
                                <li class="dropdown-header"><a href="https://localhost:44365/ServiceProviderHome/RegisterServiceProvider"><strong>Be a provider</strong></a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a href="#"><strong>Reqest History</strong></a></li>
                                <li role="presentation" class="divider"></li>
                                <li role="presentation"><a role="menuitem" tabindex="-1" href="https://localhost:44365/ServiceProviderHome/Home"><strong>Service Provider Homer</strong></a></li>
                                <li role="presentation" class="divider"></li>
                                <li class="dropdown-header">Settings</li>
                                <li role="presentation"> @Html.ActionLink("Sign Out", "Logout", "CustomerHome")</li>
                            </ul>
                        </li>
                    }
             
                </ul>


            </div>
        </div>
    </div>

    <div class=" body-content container-fluid well">
        <div class="col-lg-11 ">
            @if (@TempData["newuser"] != null)
            {
                <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
                <div class="alert alert-success">
                    <strong>@TempData["newuser"].ToString()!</strong> Indicates a successful in registration.
                </div>
            }

            @RenderBody()
            <div class="footer">
                <footer class="bg-white">
                    <div class="container py-5">
                        <div class="row py-4">
                            <div class="col-lg-4 col-md-6 mb-lg-0">

                            </div>
                            <div class="col-lg-4 col-md-6 mb-4 mb-lg-0">
                                <img src="img/logo.png" alt="" width="180" class="mb-3">
                                <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                                <ul class="list-inline mt-4">
                                    <li class="list-inline-item"><a href="#" target="_blank" title="twitter"><i class="fa fa-twitter"></i></a></li>
                                    <li class="list-inline-item"><a href="#" target="_blank" title="facebook"><i class="fa fa-facebook"></i></a></li>
                                    <li class="list-inline-item"><a href="#" target="_blank" title="instagram"><i class="fa fa-instagram"></i></a></li>
                                    <li class="list-inline-item"><a href="#" target="_blank" title="pinterest"><i class="fa fa-pinterest"></i></a></li>
                                    <li class="list-inline-item"><a href="#" target="_blank" title="vimeo"><i class="fa fa-vimeo"></i></a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                                <h6 class="text-uppercase font-weight-bold mb-4">Shop</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="#" class="text-muted">For Women</a></li>
                                    <li class="mb-2"><a href="#" class="text-muted">For Men</a></li>
                                    <li class="mb-2"><a href="#" class="text-muted">Stores</a></li>
                                    <li class="mb-2"><a href="#" class="text-muted">Our Blog</a></li>
                                </ul>
                            </div>
                            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                                <h6 class="text-uppercase font-weight-bold mb-4">Company</h6>
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><a href="#" class="text-muted">Login</a></li>
                                    <li class="mb-2"><a href="#" class="text-muted">Register</a></li>
                                    <li class="mb-2"><a href="#" class="text-muted">Wishlist</a></li>
                                    <li class="mb-2"><a href="#" class="text-muted">Our Products</a></li>
                                </ul>
                            </div>

                        </div>
                    </div>

                    <!-- Copyrights -->
                    <div class="bg-light py-4">
                        <div class="container text-center">
                            <p class="text-muted mb-0 py-2">&copy; @DateTime.Now.Year - Izinkabi property</p>
                        </div>
                    </div>
                </footer>
            </div>
        </div>


    </div>




    <!-- Footer -->
    <!-- End -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>


<script>
    function openNav() {
        document.getElementById("mySidebar").style.width = "250px";
        document.getElementById("main").style.marginLeft = "250px";
    }

    function closeNav() {
        document.getElementById("mySidebar").style.width = "0";
        document.getElementById("main").style.marginLeft = "0";
    }

    $(function () {
        $(window).on('scroll', function () {
            if ($(window).scrollTop() > 10) {
                $('.navbar').addClass('active');
            } else {
                $('.navbar').removeClass('active');
            }
        });
    });

    $(document).ready(function () {
        $('[data-toggle="popover"]').popover();
    });
</script>
