

@{
    Layout = null;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

    <!-- Bootstrap CSS CDN -->
    @*<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">*@

    <!-- Our Custom CSS -->
    <link href="~/Content/CustomCSS/navbarStyling.css" rel="stylesheet" />

    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <!-- Font Awesome JS -->
    @*<script defer src="https://use.fontawesome.com/releases/v5.0.13/js/solid.js" integrity="sha384-tzzSw1/Vo+0N5UhStP3bvwWPq+uvzCMfrN1fEFe+xBmv1C/AtVX5K0uZtmcHitFZ" crossorigin="anonymous"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.13/js/fontawesome.js" integrity="sha384-6OIrr52G08NpOFSZdxxz1xdNSndlD4vdcf/q2myIUVO0VsqaGHJsB0RaBE01VTOY" crossorigin="anonymous"></script>*@
</head>

<body>


    <!-- jQuery CDN - Slim version (=without AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <!-- Bootstrap JS -->
    @*<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>*@
    <!-- jQuery Custom Scroller CDN -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>



    <div class="wrapper">
        <!-- Sidebar  -->
        <nav id="sidebar">
            <div class="sidebar-header">
                <h3>Service Provider</h3>
                <strong>SP</strong>
            </div>

            <ul class="list-unstyled components">
                <li class="active">

                    <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-briefcase"></i>
                        Requests
                    </a>
                    <ul class="collapse list-unstyled" id="homeSubmenu">
                        <li>
                            @Html.ActionLink("Active Requests", "Requests", "ServiceProviderHome")
                        </li>
                        <li>
                            @Html.ActionLink("Profile", "Profile", "ServiceProviderHome")
                        </li>
                        <li>
                            <a href="#">History</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="#">
                        <i class="fas fa-briefcase"></i>
                        About
                    </a>
                    <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                        <i class="fas fa-copy"></i>
                        Company Info
                    </a>
                    <ul class="collapse list-unstyled" id="pageSubmenu">
                        <li>
                            @Html.ActionLink("Profile", "ProviderDetails", "ServiceProviderHome")
                        </li>
                        <li>
                            @Html.ActionLink("Services", "Services", "ServiceProviderHome")

                        </li>
                        <li>
                            <a href="#">Page 3</a>
                        </li>
                    </ul>
                </li>
            </ul>

        </nav>

        <!-- Page Content  -->
        <div class="col-sm-9 col-md-6 col-lg-8 col-xl-10" style="padding:5px 5px;">
            <!-- NAVBAR-->
            <nav class="navbar navbar-expand-lg py-3 navbar shadow-sm">
                <div>
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item">
                            <button type="button" id="sidebarCollapse" class="btn btn-light">
                                <i class="fas fa-align-left"></i>
                                <span>T</span>
                            </button>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" class="navbar-brand">
                                <!-- Logo Image -->
                                <img src="https://bootstrapious.com/i/snippets/sn-nav-logo/logo.png" width="35" alt="" class="d-inline-block align-middle mr-2">
                                <!-- Logo Text -->
                                <span class="text-uppercase font-weight-bold">Handyman</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="container">

                    <button type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span class="navbar-toggler-icon"></span></button>

                    <div id="navbarSupportedContent" class="collapse navbar-collapse">
                        @*<ul class="navbar-nav ml-auto">
                            <li class="nav-item active"><a href="#" class="nav-link">Home <span class="sr-only">(current)</span></a></li>
                            <li class="nav-item"><a href="#" class="nav-link">About</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Services</a></li>
                            <li class="nav-item"><a href="#" class="nav-link">Contact</a></li>
                        </ul>*@
                        <ul class="nav navbar-nav navbar-right ml-auto">
                            @if (Session["log"] == null)
                            {

                                <li><a href="https://localhost:44365/Profile/Register"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
                                <li role="presentation" class="divider"></li>
                                <li><a href="https://localhost:44365/Profile/SignIn"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>

                            }
                            else
                            {

                                //Drop down menu for User Profile and settings
                                //Works well in an anchor and a link


                                <li>@Session["Username"]</li>
                                @*<li class="dropdown ">
                                    <a class="btn btn-default dropdown-toggle" id="menu1" data-toggle="dropdown">

                                        <span class="glyphicon glyphicon-user"></span>

                                    </a>
                                    <ul class="dropdown-menu" role="menu" aria-labelledby="menu1">
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"><a href="https://localhost:44365/Profile/ProfileDetails"> @Session["Username"]</a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li class="dropdown-header"><a href="https://localhost:44365/ServiceProviderHome/RegisterServiceProvider"><strong>Be a provider</strong></a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"><a href="#"><strong>Reqest History</strong></a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li role="presentation"><a role="menuitem" tabindex="-1" href="#">JavaScript</a></li>
                                        <li role="presentation" class="divider"></li>
                                        <li class="dropdown-header">Settings</li>
                                        <li role="presentation"> @Html.ActionLink("Sign Out", "Logout", "CustomerHome")</li>
                                    </ul>
                                </li>*@
                            }

                        </ul>
                    </div>
                   
                </div>
            </nav>

            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="container-fluid">


                </div>

            </nav>


            @RenderBody()
        </div>

    </div>
    <!-- FOOTER -->
    <footer class="w-100 py-4 flex-shrink-0">
        <div class="container py-4">
            <div class="row gy-4 gx-5">
                <div class="col-lg-4 col-md-6">
                    <h5 class="h1 text-white">FB.</h5>
                    <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <p class="small text-muted mb-0">&copy; Copyrights. All rights reserved. <a class="text-primary" href="#">Bootstrapious.com</a></p>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6">
                    <h5 class="text-white mb-3">Quick links</h5>
                    <ul class="list-unstyled text-muted">
                        <li><a href="#">Home</a></li>
                        <li><a href="#">About</a></li>
                        <li><a href="#">Get started</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6">
                    <h5 class="text-white mb-3">Newsletter</h5>
                    <p class="small text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt.</p>
                    <form action="#">
                        <div class="input-group mb-3">
                            <input class="form-control" type="text" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="button-addon2">
                            <button class="btn btn-primary" id="button-addon2" type="button"><i class="fas fa-paper-plane"></i></button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </footer>
</body>

</html>
<script>
    $(document).ready(function () {

        $("#sidebar").mCustomScrollbar({
            theme: "minimal"
        });

        $('#sidebarCollapse').on('click', function () {
            // open or close navbar
            $('#sidebar').toggleClass('active');
            // close dropdowns
            $('.collapse.in').toggleClass('in');
            // and also adjust aria-expanded attributes we use for the open/closed arrows
            // in our CSS
            $('a[aria-expanded=true]').attr('aria-expanded', 'false');
        });

    });;
</script>