@page 
@model DetailsModel
@inject SignInManager<Handymen_UI_ConsumerUser> SignInManager
@inject UserManager<Handymen_UI_ConsumerUser> UserManager

@{
    Layout = "/Pages/Shared/_Layout.cshtml";
    ViewData["Title"] = "Details";
}
    <!-- Custom styles for this template -->


<div class="justify-content-sm-center px-4 py-2" id="custom-cards">
   @*<!--Breadcrumbs-->
    <nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a href="##" onclick="history.go(-1); return false;">Home</a></li>
            <li class="breadcrumb-item active" aria-current="page">Service Details</li>
        </ol>
    </nav>
   <!--EndBreadCrumbs-->*@
    <h2 class="pb-2 border-bottom font-monospace shadow text-center">Service Details</h2>

    <div class="row container container-fluid  list-group-horizontal-lg align-content-sm-between g-4 py-5 ">
        <div class="col-4 d-flex">
        <div class="card card-cover h-100 overflow-hidden bg-dark rounded shadow-lg" style="background-image: url('~/Images/unsplash-photo-3.jpg');">
         

           @* <p class="float-lg-end">
                <!-- Button trigger modal -->
                <button type="button" class="btn btn-secondary btn-outline-light" data-bs-toggle="modal" data-bs-target="#customService">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
                        <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
                        <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
                    </svg>                     
                </button>
            </p>*@
            <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <h2 class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold">@Html.DisplayFor(modelItem => modelItem.Service.name)</h2>
            <ul class="d-flex list-unstyled mt-auto">
                @if (Model.Service.Customs !=null && Model.Service.Customs.Count() > 0)
                {
                    <li class="d-flex align-items-center me-3">
                        <!--BookMark Button-->
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bookmark" viewBox="0 0 16 16">
                            <path d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v13.5a.5.5 0 0 1-.777.416L8 13.101l-5.223 2.815A.5.5 0 0 1 2 15.5V2zm2-1a1 1 0 0 0-1 1v12.566l4.723-2.482a.5.5 0 0 1 .554 0L13 14.566V2a1 1 0 0 0-1-1H4z" />
                        </svg>
                    </li>
                }
              <li class="d-flex align-items-center me-3">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#geo-fill"/></svg>
               <small>@Model.Service.category.description</small>
              </li>
               
              <li class="d-flex align-items-center">
                <svg class="bi me-2" width="1em" height="1em"><use xlink:href="#calendar3"/></svg>
                <small>New</small>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-4 d-flex align-items-start">
        <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#home"/></svg>
        <div>
           

            <svg class="bi text-muted flex-shrink-0 me-3" width="1.75em" height="1.75em"><use xlink:href="#speedometer2" /></svg>
            <div class="border-bottom">
                <h4 class="fw-bold mb-0">T's & C's</h4>
                <p>Please note the following</p>
            </div>
                

          <h4 class="fw-bold mb-0"> Agree</h4>
          <p>@Html.DisplayFor(modelItem => modelItem.Service.category.description).</p>
          
            <a asp-page="/Orders/Order" asp-route-id="@Model.Service.id"  class="btn btn-outline-success justify-content-content"> 
                Order 
            </a>
          
        </div>
      </div>
       
      <div class="col-4 d-flex align-items-start ">

                 
      </div>
      

    </div>
     
</div>

<!--Custom Service Modal-->


<!-- Modals -->

<!--List of Custom Services-->
<!-- Button trigger modal -->

<!-- Modal -->
<div class="modal fade" id="customsListCarousel" tabindex="-1" aria-labelledby="customsListCarouselLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
         <h1 class="modal-title fs-5 font-monospace text-center" id="customsListCarouselLabel">Customs</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <component type="typeof(CastomizedServices)" param-CustomizedServicesProperty="@Model.Service.Customs" render-mode="ServerPrerendered" />
         
       </div>
    </div>
  </div>
</div>
<!--End List of Customs-->

<!--Customizing Service-->
<div class="modal fade" id="customService" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="customService" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="customServiceLabel">Custom</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <component type="typeof(CustomService)" param-CustomServiceProperty="@Model.Service" render-mode="ServerPrerendered" />
            </div>
           @* <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Understood</button>
            </div>*@
        </div>
    </div>
</div>
<!-- End Customizing Service-->
<!--End Modals-->
