@using HandymanUILibrary.API.Consumer
@using Handymen_UI_Consumer.Helpers
@using Handymen_UI_Consumer.Models
@using Handymen_UI_Consumer.Pages.Orders
@using Microsoft.AspNetCore.Identity
@using Handymen_UI_Consumer.Areas.Identity.Data
@using Handymen_UI_Consumer.Pages


@inject SignInManager<Handymen_UI_ConsumerUser> SignInManager
@inject IOrderHelper _orderHelper;

@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @ViewData["Title"] - Handyman
    </title>
    <base href="~/" />
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
            <link rel="stylesheet" href="~/Identity/lib/bootstrap/dist/css/bootstrap.css" />
        <link rel="stylesheet" href="~/Identity/css/site.css" />

    <link href="../assets/dist/css/bootstrap.min.css" rel="stylesheet"/>

    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .b-example-divider {
        height: 3rem;
        background-color: rgba(0, 0, 0, .1);
        border: solid rgba(0, 0, 0, .15);
        border-width: 1px 0;
        box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
      }

      .b-example-vr {
        flex-shrink: 0;
        width: 1.5rem;
        height: 100vh;
      }

      .bi {
        vertical-align: -.125em;
        fill: currentColor;
      }

      .nav-scroller {
        position: relative;
        z-index: 2;
        height: 2.75rem;
        overflow-y: hidden;
      }

      .nav-scroller .nav {
        display: flex;
        flex-wrap: nowrap;
        padding-bottom: 1rem;
        margin-top: -1px;
        overflow-x: auto;
        text-align: center;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;
      }
    </style>
</head>


<!--NavBar-->
<body>
  <header class="p-3">
    <div class="container">
      <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
       <a class="navbar-brand" asp-area="" asp-page="/Index">
            <svg xmlns="http://www.w3.org/2000/svg" width="45px" height="45px" fill="currentColor" class="bi bi-wrench-adjustable-circle-fill" viewBox="0 0 16 16">
                <path d="M6.705 8.139a.25.25 0 0 0-.288-.376l-1.5.5.159.474.808-.27-.595.894a.25.25 0 0 0 .287.376l.808-.27-.595.894a.25.25 0 0 0 .287.376l1.5-.5-.159-.474-.808.27.596-.894a.25.25 0 0 0-.288-.376l-.808.27.596-.894Z" />
                <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16Zm-6.202-4.751 1.988-1.657a4.5 4.5 0 0 1 7.537-4.623L7.497 6.5l1 2.5 1.333 3.11c-.56.251-1.18.39-1.833.39a4.49 4.49 0 0 1-1.592-.29L4.747 14.2a7.031 7.031 0 0 1-2.949-2.951ZM12.496 8a4.491 4.491 0 0 1-1.703 3.526L9.497 8.5l2.959-1.11c.027.2.04.403.04.61Z" />
            </svg>
                    
        </a>
        <a href="/" class="d-flex align-items-center mb-3 mb-lg-0 me-lg-auto text-dark text-decoration-none">
        <span class="fs-4">Handyman</span>
      </a>
        <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
          <li><a href="#" class="nav-link px-2 link-secondary">Overview</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Services</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Records</a></li>
          <li><a href="#" class="nav-link px-2 link-dark">Ratings</a></li>
        </ul>
            @if (SignInManager.IsSignedIn(User))
            {
                var orders = await _orderHelper.LoadUserOrders();
                        <div class="d-grid gap-2 d-md-flex justify-content-md-end sticky-top">
                            <button class="btn btn-primary" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight">
                                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                                    @orders.Count() <!--Total value of Orders-->
                                    <span class="visually-hidden">unread messages</span>
                                </span>
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-basket" viewBox="0 0 16 16">
                                    <path d="M5.757 1.071a.5.5 0 0 1 .172.686L3.383 6h9.234L10.07 1.757a.5.5 0 1 1 .858-.514L13.783 6H15a1 1 0 0 1 1 1v1a1 1 0 0 1-1 1v4.5a2.5 2.5 0 0 1-2.5 2.5h-9A2.5 2.5 0 0 1 1 13.5V9a1 1 0 0 1-1-1V7a1 1 0 0 1 1-1h1.217L5.07 1.243a.5.5 0 0 1 .686-.172zM2 9v4.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V9H2zM1 7v1h14V7H1zm3 3a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 4 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 6 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3A.5.5 0 0 1 8 10zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5zm2 0a.5.5 0 0 1 .5.5v3a.5.5 0 0 1-1 0v-3a.5.5 0 0 1 .5-.5z" />
                                </svg>
                            </button>
                        </div>


                    }
                    <partial name="_LoginPartial" />
                </div>
    </header>
    <!--End NavBar-->
      <div class="b-example-divider"></div>
    <!--right Menu-->
   
    <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
        <div class="offcanvas-header">
            <h5 id="offcanvasRightLabel">Orders </h5>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        
        
       <!--Order Components list scrollable-->
        
    @if (SignInManager.IsSignedIn(User))
        {

            @if (_orderHelper == null)
            {
                <div class="card bg-dark text-white">
                    <img src="/Images/handymanGIF.gif" class="card-img" alt="gif image">
                    <div class="alert alert-danger" role="alert">
                        You Have Not Made Any Orders As Yet
                    </div>
                </div>
            }else 
                {
                     var orders = await _orderHelper.LoadUserOrders();
                   
                <div class="offcanvas-body" heightoverflow-y:scroll>
                 <div data-bs-spy="scroll" data-bs-target="#navbar-example2" data-bs-root-margin="0px 0px -40%" data-bs-smooth-scroll="true" class="scrollspy-example bg-light p-3 rounded-2" tabindex="0">
                        

                     @if(orders.Count==0)
                     {
                            <div class="card bg-dark text-white">
                                <img src="/Images/handymanGIF.gif" class="card-img" alt="gif image">
                                <div class="alert alert-danger" role="alert">
                                  No Orders Here...Create one
                                </div>
                            </div>

                     }

                @foreach (Order order in orders)
                {

                    <div class="alert alert-warning alert-dismissible fade show" role="alert" id="@order.Id">
                                <button type="button" class="btn-close" data-bs-toggle="modal" data-bs-target="#staticBackdropdeleteorder@(order.Id)" aria-label="Close"></button>
                            <component type="typeof(OrderComponent)" render-mode="ServerPrerendered" param-OrderComponentModel="@order" />
                            @*<div class="row justify-content-center">
                                <a href="/OrderDetails?order=@{@order}"  class="btn btn-info">View</a>
                            </div>*@
                            </div>
                            ViewData["oid"] = order.Id;
                            ViewData[$"name{order.Id}"] = order.ServiceProperty.Name;
                            ViewData[$"id{order.Id}"] = order.Id;
                        }
                </div>
             </div>
            }
    }
            <!--End Order Components list scrollabe-->

   </div>
    <!--end right menu-->
    <header class="py-3 mb-4 boarder-bottom">
    <div class="container d-flex flex-wrap justify-content-center">
  
      <form class="col-12 col-lg-auto mb-3 mb-lg-0" role="search">
        <input type="search" class="form-control" placeholder="Search..." aria-label="Search">
      </form>
    </div>
  </header>

    <!--End NavBar-->


    <!--Delete order Confirmation Modal-->
    <!-- Button trigger modal -->
    @*<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdropdeleteorder">
    Launch static backdrop modal
    </button>*@

    <!-- Modal -->

   @{
    var ods = await _orderHelper.LoadUserOrders();
    @foreach(var order in ods)
    {
        <div>
           
                @await Component.InvokeAsync("Order",
                    new {
                        Id =  order.Id
                    })
        </div>
        
    }
      
    }
   
    <!--End Delete order Modal-->


    <!--Order Confirmation Modal-->
    <div class="modal fade" id="staticBackdropConfirmorder" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Order-Confirmation</h5>
                    <a asp-page="/Index" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></a>
                </div>
                <div class="modal-body alert-success">
                    <h2>
                        Someone is working on your order, be chilled
                    </h2>
                    <img src="~/Images/handymanGIF.gif" class="img-thumbnail" alt="...">
                </div>
                <div class="modal-footer">

                    <a asp-page="/Index"  class="btn btn-primary">Understood</a>
                    
                </div>
            </div>
        </div>
    </div>
    <!--End Order Confirmation Modal-->
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <div class="b-example-divider"></div>

<div class="container">
  <footer class="py-3 my-4">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Home</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Features</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">Pricing</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">FAQs</a></li>
      <li class="nav-item"><a href="#" class="nav-link px-2 text-muted">About</a></li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 Handyman, Inc</p>
  </footer>
</div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="_framework/blazor.server.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>