@model Handyman_UI.Models.ServiceDisplayModel
<h1>
    Service Details
    <br />
    <br />
</h1>
<div>

    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        @*<dt>
                @Html.DisplayNameFor(model => model.ServiceCategoryId)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.ServiceCategoryId)
            </dd>*@
        <br />

        <dt>
            <strong>Image</strong>
        </dt>

        <dd>
            <div class="pro-img-box">
                <img src="@{@Model.ImageUrl}" alt="" style="width: 250px; height: 220px; " />
                <br />

            </div>
        </dd>
        <br />

        <dt>
            @Html.DisplayNameFor(model => model.ServiceDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ServiceDescription)
        </dd>

    </dl>

    <div class="text-center"><button type="button" class="btn btn-default">Request</button></div>
    <p>
        @Html.ActionLink("Back to Home", "Index", new { @class = "btn" })
    </p>
