@model HandymanUIApp.Models.ServiceModel
@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager


@if (SignInManager.IsSignedIn(User))
{
        <figure class="text-center">
        <img src="/Images/@{@Html.DisplayFor(modelItem => modelItem.ImageUrl)}" class="figure-img img-fluid rounded" alt="Service Image" style="max-width: fit-content; height:300px">
        <blockquote class="blockquote">
        <p>A well-known <strong>H</strong>andyman is in Town</p>
        </blockquote>
        <figcaption class="blockquote-footer">
            She is here <cite title="Source Title">To solve everythin and every 1</cite>
        </figcaption>
        </figure>
<br />


    <hr />
    <div class="accordion accordion-flush" id="accordionFlushExample">
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingOne">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
           <h4 class="card-title"> @Html.DisplayFor(modelItem => modelItem.Name)</h4>
          </button>
        </h2>
        <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">@Html.DisplayFor(modelItem => modelItem.Name).</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingTwo">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
            <h5 class="card-title"> @Html.DisplayNameFor(modelItem => modelItem.Description)</h5>
          </button>
        </h2>
        <div id="flush-collapseTwo" class="accordion-collapse collapse" aria-labelledby="flush-headingTwo" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">@Html.DisplayFor(modelItem => modelItem.Description).</div>
        </div>
      </div>
      <div class="accordion-item">
        <h2 class="accordion-header" id="flush-headingThree">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
           <h5 class="card-title"> @Html.DisplayFor(modelItem => modelItem.CategoryName)</h5>
          </button>
        </h2>
        <div id="flush-collapseThree" class="accordion-collapse collapse" aria-labelledby="flush-headingThree" data-bs-parent="#accordionFlushExample">
          <div class="accordion-body">@Html.DisplayFor(modelItem => modelItem.CategoryDescription) <code>.Mahn!</code> </div>
        </div>
      </div>
    </div>
    <hr />
    <a asp-action="TranfereServiceToOrder" asp-route-id="@Model.Id" class="btn btn-outline-success"> Order </a>
}else{
    <div class="alert alert-danger" role="alert">
        Please Become our customer first
</div>
<div class="container-fluid d-flex p-2 bd-highlight">
  <img src="/Images/handymanGIF.gif" />
</div>
}